.wrapper {
  position: relative;
  display: inline-block;
}

.data-on-hover {
  --color: #fff;
  --background-color: #000000f0;
  --arrow-width: 12px;
  --arrow-height: 3px;
  position: absolute;
  left: 50%;
  top: calc(var(--arrow-height) * -1);
  transform: translate(-50%, -100%);
  padding: 6px;
  border-radius: 4px;
  color: var(--color);
  background-color: var(--background-color);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: calc(100%);
    left: calc(50% - calc(var(--arrow-width) / 2));
    border-top: var(--arrow-height) solid var(--background-color);
    border-left: calc(var(--arrow-width) / 2) solid transparent;
    border-right: calc(var(--arrow-width) / 2) solid transparent;
  }
}
