.flattened-container {
  width: 100%;
  overflow-x: hidden;
  visibility: hidden;
  .content {
    width: max-content;
  }
}

.responsive-container {
  .content {
    &-wrap > .children {
      flex-direction: column;
      margin-left: 1.2rem;
    }
  }
}

.toggle {
  height: 0.8rem;
  padding: 0 0.2rem;
  background: transparent;
  border: none;
  color: #6c6c6c;
  cursor: pointer;
}

.hide {
  display: none !important;
}

.content,
.children,
.prefix,
.suffix {
  display: flex;
}
